<%- include('partials/header') -%>
<div class="topnav">
    <a href="https:/alexashop.herokuapp.com/login">Login</a>
    <a href="https:/alexashop.herokuapp.com/staffs">Staffs</a>
    <a href="https:/alexashop.herokuapp.com/order">Order</a>
    <a href="https:/alexashop.herokuapp.com/payment">Payment</a>
    <a href="https:/alexashop.herokuapp.com/products">Products</a>
    <a href="https:/alexashop.herokuapp.com/" style="float:right">Home</a>
  </div>
